{{#if user}}

  <div class="jumbotron d-flex justify-content-between">
    <h1>游놓 {{this.user}}.</h1>
    <form action="/logout" method="post">
      <button type="submit" class="btn btn-dark">Cerrar sesi칩n</button>
    </form>
  </div>

  <div class="d-flex">
    <form action="/productos" method="get" class="mr-5">
      <button class="btn btn-dark">Productos</button>
    </form>
    <form action="/carrito" method="get">
      <button class="btn btn-dark">Carrito</button>
    </form>
  </div>

{{else}}
  <div class="d-flex justify-content-center">
    <div class="jumbotron flex-fill mr-1">
      <h1>SignUp.</h1>
      <form action="/signup" method="POST">
        <input
          class="form-control m-1"
          type="text"
          placeholder="Nombre."
          name="name"
          required
        />
        <input
          class="form-control m-1"
          type="text"
          placeholder="Email."
          name="username"
          required
        />
        <input
          class="form-control m-1"
          type="password"
          placeholder="Contrase침a."
          name="password"
          required
        />
        <input
          class="form-control m-1"
          type="password"
          placeholder="Repita la contrase침a."
          name="passwordCheck"
          required
        />
        <input
          class="form-control m-1"
          type="text"
          placeholder="Celular."
          name="phone"
          required
        />
        <input
          class="form-control m-1"
          type="text"
          placeholder="Direcci칩n para entregas."
          name="address"
          required
        />
        <button type="submit" class="m-1 btn btn-dark">REGISTRARSE</button>
      </form>
    </div>
    <div class="jumbotron flex-fill ml-1">
      <h1>LogIn.</h1>
      <form action="/login" method="POST">
        <input
          class="m-1 form-control"
          type="text"
          placeholder="Nombre."
          name="username"
          required
        />
        <input
          class="m-1 form-control"
          type="password"
          placeholder="Contrase침a."
          name="password"
          required
        />
        <button type="submit" class="m-1 btn btn-dark">INICIAR SESI칍N</button>
      </form>
    </div>
  </div>
{{/if}}